/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*, *:after, *:before {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

a:visited {
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  background-color: #faf3e5;
  font-family: serif;
}

.pop-wrap {
  width: 60vw;
  height: 70vh;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.pop-title {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 2rem;
}

#first-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.first-container {
  background-image: url(../img/hair-salon-img3.jpeg);
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.first-title {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 3rem;
  width: 100%;
  height: 10%;
}

.first-button {
  text-align: center;
  margin-bottom: 50px;
}
.first-button button {
  width: 100px;
  height: 40px;
}

.form-wrap {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 60px;
}
.form-wrap form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-wrap ul {
  margin-bottom: 80px;
  list-style: none;
  line-height: 25px;
}
.form-wrap button {
  margin: 0 auto;
  width: 80px;
}

.move-button {
  float: right;
  display: flex;
  justify-content: space-between;
}

.right-button {
  width: 0;
  height: 0;
  border-top: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 15px transparent;
  border-left: solid 15px blue;
  margin-left: 20px;
}

.left-button {
  width: 0;
  height: 0;
  border-top: solid 15px transparent;
  border-right: solid 15px #787d83;
  border-bottom: solid 15px transparent;
  border-left: solid 15px transparent;
}

/*# sourceMappingURL=main.css.map */
