/////////////////
//    変数     //
/////////////////



///////////////
//// mixin ////
///////////////
$beige:#faf3e5;



//////////////
//// 共通 ////
//////////////

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6rem;
  background-color: $beige;
  font-family: serif;
}

.pop-wrap {
    width: 80vw;
    height: 90vh;
    margin: 40px auto;
    padding: 40px;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  }

.pop-title {
  font-size: 44px;
  line-height: 44px;
  margin-bottom: 20px;
}

.pop-distribution{
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}

.form-wrap {
  display: flex;
  justify-content: center;
  margin:auto;
  
  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  ul {
    margin-bottom: 80px;
    list-style: none;
    line-height: 25px;

    li {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  button {
    margin: 0 auto;
    width: 80px;
  }
}



